html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    padding: 5px 15px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}

/* header */

header,
footer,
.hero-section {
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
}

header .links {
    display: flex;
    gap: 20px;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    padding: 60px 200px;
}

.hero-section .left {
    max-width: 450px;
}

.hero-section .right {
    background-color: gray;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.link,
.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.image-placeholder,
.logo-text {
    color: #F9FAF8;
}

/* info section */

.info-section,
.info-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 200px;
}

.info-section .reader {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 40px;
}

.info-section .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.info-section .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.info-section .box {
    border: 4px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.info-section p {
    color: gray;
    font-size: 18px;
    text-align: center;
}

.info-quote {
    background-color: #E5E7EB;
    padding: 100px 200px;
    margin: 100px 0;
}

.info-quote .quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 20px;
    max-width: 900px;
}

.info-quote .author {
    font-weight: bold;
    text-align: right;
    font-size: 24px;
    color: #1F2937;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    background-color: white;
}

.call-to-action .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 40px 80px;
    border-radius: 10px;
    max-width: 900px;
    width: 100%;
}

.call-to-action .left {
    color: #F9FAF8;
}

.call-to-action .right {
    display: flex;
    gap: 10px;
}

.call-to-action .title {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.call-to-action .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.call-to-action .signup {
    border: 2px solid #F9FAF8;
    background-color: transparent;
    color: #F9FAF8;
    padding: 8px 25px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #1F2937;
    color: #E5E7EB;
}

footer .copyright {
    font-size: 18px;
}